body {
    background-color: #7ab9f5c9;
}

header {
    font: bolder 1.5em Arial;
    color: white;
    text-align: center;
}

section {
    background-color: white;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #00000081;
    padding: 15px;
    margin: auto;
}

#msg {
    font: normal 1.2em Arial;
}

div {
    text-align: center;
    padding: 8px;
}

footer {
    text-align: center;
    font: normal 0.8em italic;
}