body {
    background-color: #84d3eb;
}

header {
    text-align: center;
    color: #ffffff;
}

section {
    background-color: #ffffff;
    max-width: 500px;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    

}
#tab {
    width: 165px;
}
select {

}

footer {
    text-align: center;
    font-style: italic;
    color: #ffffff;
}
