body {
    background-color: rgb(117, 115, 115);
}

main {
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    
}

main > h1 {
    text-align: center;
    color: #99340c;
}
main h2 {
    color: #a73204b4;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #99340c;
}
